<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>InitialSystemServlet</servlet-name>
    <servlet-class>servlet.InitialSystemServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitialSystemServlet</servlet-name>
    <url-pattern>/servlet/InitialSystemServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetWelcomeServlet</servlet-name>
    <servlet-class>servlet.GetWelcomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetWelcomeServlet</servlet-name>
    <url-pattern>/servlet/GetWelcomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateWelcomeServlet</servlet-name>
    <servlet-class>servlet.CreateWelcomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateWelcomeServlet</servlet-name>
    <url-pattern>/servlet/CreateWelcomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditWelcomeServlet</servlet-name>
    <servlet-class>servlet.EditWelcomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditWelcomeServlet</servlet-name>
    <url-pattern>/servlet/EditWelcomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetAllProductServlet</servlet-name>
    <servlet-class>servlet.GetAllProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllProductServlet</servlet-name>
    <url-pattern>/servlet/GetAllProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateProductServlet</servlet-name>
    <servlet-class>servlet.CreateProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateProductServlet</servlet-name>
    <url-pattern>/servlet/CreateProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetProductServlet</servlet-name>
    <servlet-class>servlet.GetProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetProductServlet</servlet-name>
    <url-pattern>/servlet/GetProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateContactServlet</servlet-name>
    <servlet-class>servlet.CreateContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateContactServlet</servlet-name>
    <url-pattern>/servlet/CreateContactServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditProductServlet</servlet-name>
    <servlet-class>servlet.EditProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProductServlet</servlet-name>
    <url-pattern>/servlet/EditProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetAllContactServlet</servlet-name>
    <servlet-class>servlet.GetAllContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllContactServlet</servlet-name>
    <url-pattern>/servlet/GetAllContactServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditContactServlet</servlet-name>
    <servlet-class>servlet.EditContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditContactServlet</servlet-name>
    <url-pattern>/servlet/EditContactServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FileUploadServlet</servlet-name>
    <servlet-class>htmlutil.FileUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUploadServlet</servlet-name>
    <url-pattern>/htmlutil/FileUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteFileServlet</servlet-name>
    <servlet-class>htmlutil.DeleteFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFileServlet</servlet-name>
    <url-pattern>/htmlutil/DeleteFileServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>